.header{
    background-color: black;
    color: white;
    padding: 20px 0;
    
}

.navContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navLinks{
    display: flex;
    justify-content: space-around;
    gap: 30px;
}

.navLinks li{
    list-style-type: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.navLinks li>a{
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
}

.navLinks li>a:hover{
    color: #222;
}